* {
  margin: 0;
  padding: 0;
}
.header {
  grid-area: header;
  text-align: center;
  padding: 1em 0 1em 0;
  background-color: #fcbefc;
  img{
    border-radius: 48%;
    height: 20vh;
  }
}
.footer {
  grid-area: footer;
  text-align: center;
  background-color: #fcbefc;
  padding: 1em;
  margin-bottom: 0;
  .info-footer{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    img{
      height: 150px;
      border-radius: 48%;
    }
  }
  
}
.box {
  grid-area: box;
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
  background-color: #fcbefc;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  h3{
    margin-top: 1em;
    text-transform: uppercase;
    background-color: antiquewhite;
    padding: 1em;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  p{
    padding: .5em;
    text-transform: capitalize;
  }
  & p:hover{
    translate: 2%;
    background-color: #907590;
    color: aliceblue;
    padding: .5em;
    border-radius: 5px;
    text-align: center;
  }
}
.productos {
  grid-area: productos;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 1rem;
}
body {
  display: grid;
  grid-template-columns: 20% auto;
  gap: 20px;
  grid-template-areas:
    "header header"
    "box productos"
    "footer footer";
    background-color: rgb(248, 237, 217);
}
.producto-unitario {
  display: flex;
  flex-direction: column;
  border: 1px dotted #000;
  align-items: center;
  border-radius: 10px;
  padding-top: .2em;
  box-shadow: 2px 2px 5px #907590;
  background-color: rgba(252, 236, 180, 0.45);
  color: rgb(0, 0, 0);
  img{
    height: 300px;
    width: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }
  h6{
    color: #5a565a;
    font-weight: 100;
  }
  .boton {
    background-color: #2446ed ;
    color: bisque;
    border-radius: 20px;
    padding: 8px 50px;
    border: none;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    &:hover{
      translate: 2%;
      background-color: rgb(52, 201, 227);
      color: #fff;
    }
  }
}
