* {
  margin: 0;
  padding: 0;
}
.header {
  grid-area: header;
  text-align: center;
  margin-top: 1em;
  img{
    border-radius: 48%;
    height: 20vh;
  }
}
.footer {
  grid-area: footer;
  text-align: center;
}
.box {
  grid-area: box;
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
  p{
    padding: .5em;
    text-transform: capitalize;
  }
  & p:hover{
    translate: 2%;
    background-color: #907590;
    color: aliceblue;
    padding: .5em;
    border-radius: 5px;
    text-align: center;
  }
}
.productos {
  grid-area: productos;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 0 1rem;
}
body {
  display: grid;
  grid-template-columns: 20% auto;
  gap: 20px;
  grid-template-areas:
    "header header"
    "box productos"
    "footer footer";
    background-color: rgba(248, 205, 230, 0.659);
}
.producto-unitario {
  display: flex;
  flex-direction: column;
  border: 1px dotted #000;
  align-items: center;
  border-radius: 10px;
  padding-top: .2em;
  box-shadow: 2px 2px 5px #907590;
  background-color: rgba(94, 92, 94, 0.45);
  color: rgb(0, 0, 0);
  img{
    height: 40vh;
    max-width: fit-content;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }
  h6{
    color: #5a565a;
    font-weight: 100;
  }
  .boton {
    background-color: rgb(18, 134, 34);
    color: bisque;
    border-radius: 20px;
    padding: 8px 50px;
    border: none;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    &:hover{
      translate: 2%;
      background-color:  #64ff64;
      color: #000;
    }
  }
}
